/* ------------------------------- */
/* ------------ COLORS ----------- */
/* ------------------------------- */

/* ------ Background Colors ------ */

.bg-orange {
  background-color: $orangeColor1;
}

.bg-orange-2 {
  background-color: $orangeColor2;
}

.bg-white {
  background-color: $whiteColor1;
}

.navbar-gradient {
  background: linear-gradient(to right, $mainNavColor1, $mainNavColor2);
}

/* ------ Font Colors ------ */

.forceColorBlack {
  color: $blackColor1 !important;
}

.forceColorWhite {
  color: $whiteColor1 !important;
}

.emagLinkColor {
  color: $emagLinkColor;
}

.green-text {
  color: $greenText1;
}

.grey-text {
  color: $greyText1 !important;
}

.magenta-text {
  color: $magentaColor1;
}

.red-text {
  color: $redText1;
}

.white-text {
  color: $whiteColor1 !important;
}

/* ------ Hover Colors ------ */
.hover-blue {
  &:hover,
  &:active {
    color: $bootstrapBlue !important;
  }
}

.myHover-white {
  &:hover,
  &:active {
    color: $whiteColor1 !important;
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

/* -------------------------------------------------- */
/* ------------- BOOTSTRAP Modifications ------------ */
/* -------------------------------------------------- */

/* ------------- Outlet Carousel ------------ */
#outletProducts {
  .carousel-control-prev,
  .carousel-control-next {
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-control-prev {
    left: -5%;
  }

  .carousel-control-next {
    right: 0%;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
  }

  .carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: $greyText1;
  }

  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: $greyText1;
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

/* ---------------------------------- */
/* ---------- FLEX UTILITIES -------- */
/* ---------------------------------- */

.myJustify-self-end {
  justify-self: end;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------- */
/* ------------- MISC ------------ */
/* ------------------------------- */
.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.myAppStoreBtn {
  &:hover,
  &:active {
    text-decoration: none;
  }

  img {
    max-width: 125px;
  }
}

.myFeaturesImg {
  height: 50px;
}

.myMb-0-fix {
  margin-bottom: 0 !important;
}

.myPt-12-fix {
  padding-top: 12px;
}

.myPt-10-fix {
  padding-top: 10px;
}

.myPt-8-fix {
  padding-top: 8px;
}

.store-button {
  width: 127px;
  height: 38px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------- */
/* ---------- POSITIONING -------- */
/* ------------------------------- */

.force-display-block {
  display: block !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */