////////// Colors ///////////

$blackColor1: #000000;

$bodyBackgroundColor: #eeeeee;
$bodyBackgroundColor2: rgb(242, 231, 230);

$bootstrapBlue: rgb(0, 123, 255);

$backgroundColor1: #E0E0E0;

$categoriesSideMenuColor: #E1F3FD;

$emagLinkColor: #005EB8;
$emagLinkColorHover: #003787;

$geniusButtonColor1: #090171;
$geniusButtonColor2: #FF005A;

$magentaColor1: #8B008B;

$whiteColor1: #ffffff;

///////   Main Nav Colors     /////////
$mainNavColor1: #FF1D25;
$mainNavColor2: #0082E6;

$revStarColor: #F9BF3B;

//////////// Add to cart component colors /////////
$addToCartRed: #E43743;
$addToCartBlue1: rgb(74, 96, 193);
$addToCartBlue2: rgb(57, 133, 224);
$addToCartBlueHover1: rgb(49, 71, 168);
$addToCartBlueHover2: rgb(32, 107, 198);

///////// Font Colors /////////
$greenText1: #009900;

$greyText1: #6e6e6e;

$orangeColor1: #FF5500;
$orangeColor2: rgb(241, 142, 1);

$redText1: #EF2809;

